/* src/styles/tokens.css */
:root {
  --surface-dim: #dcd9d9;
  --surface-container-highest: #e5e2e1;
  --on-background: #1b1b1c;
  --on-surface: #1b1b1c;
  --inverse-primary: #afc6ff;
  --background: #fcf9f8;
  --surface: #fcf9f8;
  --surface-variant: #e5e2e1;
  --surface-container: #f0eded;
  --surface-container-high: #eae7e7;
  --surface-container-low: #f6f3f2;
  --surface-container-lowest: #ffffff;
  
  --primary: #0057c2;
  --on-primary: #ffffff;
  --primary-container: #006ef2;
  --secondary: #2752ca;
  
  --error: #ba1a1a;
  --error-container: #ffdad6;
  --on-error-container: #93000a;
  
  --border-1: #e5e7eb;
  --outline-variant: #c1c6d7;
  --on-surface-variant: #414755;

  /* Custom Spacing Variables */
  --xl: 32px;
  --gutter: 24px;
  --base: 8px;
  --md: 16px;
  --container-max: 1440px;
  --sm: 8px;
  --lg: 24px;
  --xs: 4px;

  /* Custom Typographic Tokens */
  --font-h2: 'Inter', sans-serif;
  --font-h3: 'Inter', sans-serif;
  --font-label-md: 'Inter', sans-serif;
  --font-body-md: 'Inter', sans-serif;
  --font-body-sm: 'Inter', sans-serif;
  
  --h2: 30px;
  --h3: 24px;
  --label-md: 14px;
  --body-md: 14px;
  --body-sm: 12px;
}
